@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }
  
  .container {
    text-align: center;
  }
  
  .profile {
    margin-bottom: 20px;
  }
  
  .image-container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    flex: 1;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  
  #profileImage {
    position: absolute;
    left: 50%;
    top: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    width: 180%;
    min-width: 180%;
    min-height: 180%;
    transform: translate(-50%, -30%);
  }
  
  .social-links a {
    margin: 0 15px;
    font-size: 30px;
    transition: font-size 0.3s ease;
  }
  
  .social-links a:hover {
    font-size: 35px;
  }
  
  .name {
    font-family: 'Roboto', sans-serif; 
    font-size: 48px; 
    font-weight: 300; 
    margin-bottom: 20px; 
    color: #333;  
    user-select: none;
}

.info-blurb {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.6; 
    color: #333;
    text-align: center; 
    max-width: 800px;
    margin: 20px auto; 
    padding: 15px; 
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#mesh-link {
    color: purple;
    text-decoration: none;
}

#mesh-link:hover {
    font-size: 110%;
    color: navy;
    text-decoration: underline;
}

.timeline {
    position: relative;
    margin: 50px auto;
    max-width: 800px;
}

.timeline-item {
    position: relative;
    margin: 20px 0;
}

.timeline-icon {
    position: absolute;
    left: 50%;
    top: 0;
    width: 20px;
    height: 20px;
    background: #555;
    border-radius: 50%;
    transform: translate(-50%, 0);
}

.timeline-content {
    padding: 0 20px;
    border-left: 2px solid #555;
    margin-left: 30px;
    position: relative;
}

.timeline-content h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
}

.timeline-content p {
    margin: 10px 0;
    padding: 0;
}